<div id="SC">
<h1>Stupid Coaching</h1>
</div>
<div class="question display">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="coach display">
  <p id="answer"><%= @answer %></p>
  <p>-Your coach</p>
</div>

<a href="ask">Ask another question</a>
