<div class = "container">
  <h3 id ="text">Stupid Coaching</h3>
  <h6>Ask your coach anything:</h6>
</div>


<form action="answer" class = "form-inline d-flex justify-content-center mt-5" method ="get">
  <input type="text" name="question" class =" pl-5">
  <input type="submit" value="Ask!" class ="btn btn-primary">
</form>
